@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('./assets/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('./assets/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Italic';
    src: url('./assets/Roboto-Italic.ttf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #181816;
    font-family: 'Roboto-Medium';
} 
.header {
    display: flex;
    justify-content: flex-end;
}
.header_nav {
    background-color: #37d3da;
    padding: 42px 0 32px 0;
    width: 36%;
}
.header_nav a {
    font-size: 1.25em;
    padding-left: 45px;
}
@media screen and (max-width: 900px) {
    .header_nav {
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    .header_nav {
        text-align: center;
    }
}

.block1 {
    background: url('./assets/block-1.png') no-repeat;
    background-size: cover;
    background-position: 0 83%;
    padding: 215px 20% 180px 20%;
}
@media screen and (max-width: 920px) {
    .block1 {
        padding: 215px 10% 180px 10%;
        background-position: center;
    }
}

.block1_container {
    position: relative;
}
h1 {
    color: #ffffff;
    font-family: 'Roboto-Bold';
    font-size: 3.75em;
}
.block1_container--button {
    display: inline-block;
    padding: 30px;
    background-color: #00aeb5;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: 'Roboto-Medium';
    margin: 125px 0 0 0;
}

@media screen and (max-width: 410px) {
    .block1_container--button{
        padding: 30px 10px;
    }
}

.block2 {
    background:  url('./assets/Прямоугольник\ block-2.png'), url('./assets/block-2.png') no-repeat; 
    background-size: cover;
    background-position: center;
    padding: 170px 0 270px 0;
    display: flex;
    justify-content: center;
}
.block2 h2 {
    font-family: 'Roboto-Bold';
    color: #ffffff;
    font-size: 2em;
}
.block2_for-man h2 {
    text-align: right;
    margin-right: 4%;
}
.block2 .block2-main_wrap {
    display: flex;
    align-items: flex-start;
    margin-top: 88px;
}
.block2_for-man .block2-main_wrap {
    margin-right: 50px;
}
.block2 .block2_wrap {
    color: #fefefe;
    font-size: 1.5em;
    font-family: 'Roboto-Light';
    display: inline-block;
    width: 75%;
}
.block2 .block2_for-woman .block2_wrap {
    text-align: right;
}
.dott1, .dott2 {
    display: inline-block;
    border-radius: 100%;
    background-color: #00afb7;
    width: 16px;
    height: 16px;
    margin: 6px 80px;
}

@media screen and (max-width: 720px) {
    .block2 {
        flex-direction: column;
    }
    .block2_for-woman {
        margin-top: 80px;
    }
    .block2_for-woman h2, .block2_for-man h2 {
        text-align: center;
    }
    .dott1, .dott2 {
        margin: 6px 20px;
    }
}

.block3 {
    background-color: #f8f9fb;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 105px;
}
.block3_h {
    padding-top: 130px;
    font-size: 1.5em;
    font-family: 'Roboto-Medium';
}
.block3_container {
    padding-top: 75px;
    display: block;
    flex-wrap: wrap;
    width: 60%;
    position: relative;
    display: flex;
}
.image {
    width: 33%;
    border-radius: 5px;
    border: 1px solid #dddddd;
    display: inline-block;
    padding: 35px 0;
    text-align: center;
    background-color: #ffffff;
}

.signature {
    font-size: 1.375em;
    font-family: 'Roboto-Regular';
    display: inline-block;
}

.image-svg1 {
    background: url('./assets/cardio.png') no-repeat;
    background-position: center;
    height: 100px;
}
.image-svg2 {
    background: url('./assets/building.png') no-repeat;
    background-position: center;
    height: 100px;
}
.image-svg3 {
    background: url('./assets/group.png') no-repeat;
    background-position: center;
    height: 100px;
    }
.image-svg4 {
    background: url('./assets/freestyle.png') no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
}
.image-svg5 {
    background: url('./assets//strenght.png') no-repeat;
    background-position: center;
    height: 100px;
}
.image-svg6 {
    background: url('./assets/boxing.png') no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 1120px) {
    .image {
        width: 50%;
    }
}
@media screen and (max-width: 720px) {
    .image {
        width: 100%;
    }
}


.block4 {
    background-color: #20242d;
    padding-bottom: 75px;
}
.block4_h {
    font-family: 'Roboto-Bold';
    font-size: 2.25em;
    color: #ffffff;
    padding-top: 130px;
    text-align: center;
}
.block4_container {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
.trainer_photo1 {
    background: url(./assets/София_Норина.png);
    position: relative;
    height: 470px;
    width: 390px;
}
.trainer_photo2 {
    background: url(./assets/Анна_Мак.png);
    position: relative;
    height: 470px;
    width: 390px;
}
.trainer_photo3 {
    background: url(./assets/Егор_Лавров.png);
    position: relative;
    height: 470px;
    width: 390px;
}
.trainer_name {
    background-color: #19b7bcad;
    width: 195px;
    height: 70px;
    color: #ffffff;
    font-family: 'Roboto-Regular';
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 22px 0;
}

@media screen and (max-width: 1210px) {
    .block4_container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.footer {
    background: url("./assets/background-footer.png"), url("./assets/footer.png") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 170px 0;
}

.footer-block-1 {
    background: #fff;
    border-radius: 12px;
    padding: 60px 33px;
    width: 500px;
    margin-right: 3.5%;
}
.footer-block-1 form {
    padding-top: 1px;
    margin-top: 45px;
}
.footer-block-1 form div {
    border-top: 1px solid #f1f1f1;
}

.footer-block-1 span {
    font-family: 'Roboto-Regular';
    font-size: 1.5em;
}

.footer-block-1 input[type='text'] {
    display: block;
    width: 100%;
    border: none;
    color: #767676;
    font-style: italic;
    padding: 30px 0;
}

.footer-block-1 input:focus {
    border: 0;
    outline: 0;
}

.footer-block-1 input[type='submit']{
    display: block;
    margin: auto;
    border-radius: 12px;
    font-size: 1.5rem;
    font-family: 'Roboto-Regular';
    background: #dddddd;
    padding: 24px 90px;
    border: none;
}

.footer-block-1 input[type='submit']:hover {
    color: #dddddd;
    background: #181816;
}

.last {
    margin-bottom: 80px;
}

.footer-block-2 {
    background: #fff;
    border-radius: 12px;
    padding: 90px 33px 70px 33px;
}

.footer-block-2 tr td{
    padding: 0 0 30px 0;
    max-width: 195px;
    vertical-align: top;
}

.social a {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.social .instagram {
    background: url("./assets/instagram.png") no-repeat;
    background-position: center;
    margin-right: 10px;
}

.social .facebook {
    background: url("./assets/facebook.png") no-repeat;
    background-position: center;
    margin-right: 10px;
}

.social .twitter {
    background: url("./assets/twitter.png") no-repeat;
    background-position: center;
}

.footer-block-2__label {
    color: #181816;
    font-family: "Roboto-Regular";
    font-size: 1.375em;
}

.footer-block-2__info {
    font-family: "Roboto-Regular";
    font-size: 1.375em;
    color: #4f4f4f;
    font-style: italic;
}

@media screen and (max-width: 1060px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-block-1 {
        margin: 0 0 70px 0;
    }
    .footer-block-2 {
        width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .footer-block-2, .footer-block-1 {
        width: 380px;
    }
}

.block5 {
    background: url("./assets/health-bg-2.png"), url("./assets/health-bg-1.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 125px 0 138px 0;
}

.block5__content {
    width: 62%;
}

.block5__content--header {
    font-family: 'Roboto-Bold';
    font-size: 3em;
    color: #181816;
}

.block5__content--info {
    color: #181816;
    font-family: 'Roboto-Italic';
    font-style: italic;
    font-size: 1.5em;
    margin-top: 27px;
}

.block5__content--button {
    margin-top: 40px;
}

.block5__content--button a {
    display: inline-block;
    background: #00aeb5;
    padding: 25px 68px;
    font-family: 'Roboto-Regular';
    font-size: 1.5em;
    color: #181816;
    border-radius: 12px;
}

@media screen and (max-width: 530px) {
    .block5__content--button a {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 400px) {
    .block5__content--button a {
        padding: 20px 10px;
    }
}